<div class="contain-to-grid sticky" data-options="sticky_on: large">
<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1><%= link_to "Dwellhop", root_path %></h1>
    </li>
    
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">

      <li class="active"><%= link_to "Create Property", signin_path %></li>
    </ul>

    <!-- Left Nav Section -->
    <ul class="left">
      <% if signed_in? %>
        <li class="name"><%= link_to "Profile", current_user %></li>
        <li class="name"><%= link_to "Sign out", signout_path, method: "delete" %></li>
      <% else %>
        <li class="name"><%= link_to "Sign in", signin_path %></li>
      <% end %>
    </ul>
  </section>
</nav>
</div>